CONFIG VCCAUX="3.3";
NET "clk" TNM = "SYSCLK";
TIMESPEC TS_SYSCLK = PERIOD "SYSCLK" 25 MHz;

# Pluto-IIx
#NET "clk" LOC=P40 | IOSTANDARD=LVCMOS33;
#NET "RxD" LOC=P21 | IOSTANDARD=LVCMOS33;
#NET "LED" LOC=P29 | IOSTANDARD=LVCMOS33;
#NET "PWMaudioR" LOC="P43" | IOSTANDARD=LVCMOS33;
#NET "PWMaudioL" LOC="P44" | IOSTANDARD=LVCMOS33;

# Retro
NET "clk" LOC=P88 | IOSTANDARD=LVCMOS33;
NET "RxD" LOC=P21 | IOSTANDARD=LVCMOS33;
NET "LED" LOC=P29 | IOSTANDARD=LVCMOS33;
NET "PWMaudioR" LOC="P15" | IOSTANDARD=LVCMOS33;
NET "PWMaudioL" LOC="P13" | IOSTANDARD=LVCMOS33;
